<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Recette - Liste des applications</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  
  <script type="text/javascript" src="js/paging.js"></script>
  
</head>
<body onLoad="getLsDossier()">
<!-- HEADER -->
<% include ../header.ejs %>
<!-- /HEADER -->
<!-- Menu GAUCHE -->
		<% var disable = "";
		if(req.session.droit == 0){
			disable = "hidden";}
		%>

<!-- Container -->
<div class="container-fluid">
  <div class="row">
    <div id="menuCenter">
      <!-- avant container -->
		<% include ../dossierEtapeApp.ejs %>
	  
      </br>
      </br>
          <!-- include menu à gauche -->
      <!-- /avant container-->

      <div class="row"> <!-- CONTAINER -->
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h2>
                Fiche recette
                <small>
					Exécuter test
                </small>
              </h2>
            </div>

          </div>
          <div class="clearfix"></div>

          <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_content">
				  <br />
				  <!-- <h4>  Sélection dossier</h4>
				  <form method="POST" action="/dossierApplication" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
					<div class="form-group">
					  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name" id="typeTest">Dossier :<span class="required"></span>
					  </label>
					  <div class="col-md-6 col-sm-6 col-xs-12">
							 <input type="text" id="num_dossier" name="num_dossier" required="required" class="form-control col-md-7 col-xs-12">
							<select class="form-control" tabindex="-1" id="dossierNum" name="num_dossier"  onchange="getval(this);" placeholder = "Dossier">
								<option value="1">Dossier</option>
						    </select>
					  </div>
					  <button type="submit" class="btn btn-primary waves-attach" data-backdrop="static" data-toggle="modal" href="#doc_dialog_example_alert" id="doc_snackbar_toggle_1">OK</button>
					</div>
				  </form>-->
				</div>

              <div class="x_panel">
                <div class="x_title">
                  <div class="clearfix"></div>
                </div>

				<!-- <h4>Liste des applications qui ne sont pas encore testées</h4> -->

                <div class="x_content">
                  <table id="resultsApp" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr class="headings">
                      <th>ID</th>
                      <th><i class="fa fa-paperclip"></i> Application </th>
					  <th><i class="fa fa-folder-open"></i> Dossier </th>
                      <th class=" no-link last"><i class="fa fa-cog"></i> Tester</span>
                      </th>
                      <th class=" no-link last"><i class="fa fa-file-text"></i> Détails</span>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% applications.forEach(function(application){ %>
                    <tr class="even pointer">
                      <td class=" "><%= application.id_application %></td>
                      <td class=" "><%= application.nom_application %></td>
                      <td class=" "><%= application.num_dossier %></td>
                      <td class=" last"><a href="/appByIdTest?id=<%= application.id_application %>">Tester</a>
                      </td>
                      <td class=" last"><a href="/appById?id=<%= application.id_application %>">Voir détails</a>
                      </td>
                    </tr>
                    <% }); %>
                    </tbody>
                  </table>
				  <div id="pageNavPosition"></div>
                </div>
              </div>
            </div>

            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
      <!--/row-->


      <!-- Notifications -->
      <% include ../notifications.ejs %>
      <!-- /Notifications -->

    </div>
    <!--/col-span-9-->
  </div>
</div>
<!-- /Container -->
<!-- Footer -->
		<center><% include ../footer.ejs %></center>
		<!-- /Footer -->

<!-- script  -->
<script src="/js/base.min.js"></script>
<script src="/js/project.min.js"></script>

<script src="js/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

<!-- DOSSIER ETAPE APPLICATION -->
		<script src="js/dossierEtapeApp.js"></script>
		
	<script type="text/javascript"><!--
        var pager = new Pager('resultsApp', 10);
        pager.init();
        pager.showPageNav('pager', 'pageNavPosition');
        pager.showPage(1);
    //--></script>
		
</body>
</html>
