<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Recette - Liste type test</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">

    <link href="fonts/css/font-awesome.css" rel="stylesheet">
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">

    <!-- bootbox code -->
    <script src="js/bootbox.min.js"></script>
	
	<script type="text/javascript" src="js/paging.js"></script>

	</head>
	<body onLoad="getLsDossier()">
		<!-- HEADER -->
		<% include ../header.ejs %>
		<!-- /HEADER -->
		<!-- Menu GAUCHE -->
		<% var disable = "";
		if(req.session.droit == 0){
			disable = "hidden";}
		%>

		<!-- CONTAINER -->
		<div class="container-fluid">
			<div class="row">
				<div id="menuCenter">
					<!-- avant container -->
          
			<!-- <% include ../dossierEtapeApp.ejs %> -->
		     <!-- include menu à gauche -->
					<!-- /avant container-->

					<div class="row">
						<div class="">
							<div class="page-title">
							  <div class="title_left">
								<h2>
								  Fiche recette
								  <small>
									Liste type test
								  </small>
								</h2>
							  </div>
							</div>
							</br>
							<div class="clearfix"></div>

							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="x_panel">
										<div class="x_title">
											<div class="clearfix"></div>
										</div>
										<div class="x_content">
											<table id="resultsTest" class="table table-striped table-bordered table-hover table-condensed">
												<thead>
													<tr class="headings">
														<th>ID</th>
														<th> <i class="fa fa-filter"></i> Type test </th>
														<th><i class="fa fa-pencil"></i> Modifier </th>
														<th><i class="fa fa-trash"></i> Supprimer </th>
													</tr>
												</thead>
												<tbody>
													<% typeTests.forEach(function(type){ %>
													<tr class="even pointer">
														<td class=" "><%= type.id_type_test %></td>
														<td class=" "><%= type.nom_type_test %></td>
														<td class=" <%= disable %>"><a href="/typeTestById?id=<%= type.id_type_test %>">Modifier</a>
														</td>
														<td class="<%= disable %>"><a href="#" id ="supression" name="suppression" value="<%= type.id_type_test %>" onclick="sup(<%= type.id_type_test %>)" >Supprimer</a></td>
													</tr>
													<% }); %>
												</tbody>
											</table>
											<div id="pageNavPosition"></div>
										</div>
									</div>
								</div>
								<br />

							</div>
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><button type="button" class="btn btn-primary collapse-link">Ajouter type test</button></a>
						</div>
					</div>
					
					</br>
					<div class="row">
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="col-md-12 col-sm-12 col-xs-12">
									  <div class="x_panel">
										<div class="x_title">
											<h4>Ajout type de test</h4>
											<div class="clearfix"></div>
											<div class="clearfix"></div>
										</div>
										<div class="x_content">
										  <br/>
										  <form method="POST" action="/ajoutTypeTest" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
											<div class="form-group">
											  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name" >Nom du type de test<span class="required"></span>
											  </label>
											  <div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="nom_type_test" required="required" name="nom_type_test" class="form-control col-md-7 col-xs-12">
												<!-- pattern="[0-9]" oninvalid="setCustomValidity('Le nom du type de test ne doit pas contenir des chiffres')" onchange="try{setCustomValidity('')}catch(e){}" -->
											  </div>
											</div>
											<div class="ln_solid"></div>
											<div class="form-group">
											  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<button type="submit" class="btn btn-primary waves-attach" data-backdrop="static" data-toggle="modal" href="#doc_dialog_example_alert" id="doc_snackbar_toggle_1">Ajouter</button>
											  </div>
											</div>
										  </form>
										</div>
									  </div>
									</div>
								</div>
							</div>
					<!--/row-->
					</br>
					</br>
					</br>
					</br>
					</br>

					<!-- Notifications -->
					<% include ../notifications.ejs %>   <!-- include menu à gauche -->
					<!-- /Notifications -->
				</div>
				<!--/col-span-9-->
			</div>
		</div>
		<!-- /Main -->
		<!-- Footer -->
		<center><% include ../footer.ejs %></center>
		<!-- /Footer -->

		<!-- script references -->
		<script src="/js/base.min.js"></script>
		<script src="/js/project.min.js"></script>

		<script src="js/jquery.min.js"></script>

		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>

    <script>
		function sup(v) {
			var testNom = v;
			bootbox.dialog({
			  title: "Merci de confirmer",
			  message: "Etes-vous certain de vouloir supprimer "+testNom+"?",
			  buttons: {
				supprimer: {
				  label: "Supprimer",
				  className: "btn-primary",
				  callback: function() {
					window.location = "supprTypeTest?idTypeTest="+testNom;
					}
				},
				annuler: {
				  label: "Annuler",
				  className: "btn-info"
				}
			  }
			});
            // The function returns the product of p1 and p2
			
			
		}
		
	</script>
	
	<script type="text/javascript"><!--
        var pager = new Pager('resultsTest', 10);
        pager.init();
        pager.showPageNav('pager', 'pageNavPosition');
        pager.showPage(1);
    //--></script>

	<!-- DOSSIER ETAPE APPLICATION -->
	<script src="js/dossierEtapeApp.js"></script>
	
	</body>
</html>
